{
  "extends": ["prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "node": true,
    "jest/globals": true
  }
}
