createdAt: "{{created}}"
updatedAt: "{{updated}}"
type: "MARKDOWN_NOTE"
folder: "{{folder}}"
title: "{{{title}}}"
tags: [{{{tags}}}]
isStarred: false
isTrashed: false
content: '''
---
sourceurl: [{{{url}}}]
authors: [{{authors}}]
published: {{created}}
---
# {{title}}

{{{preamble}}}

{{{content}}}
'''
